<%= render partial: 'jumbotron' %>

<div class="container welcome">
  <div class="row intro" id="about-me">
    <%= render partial: 'welcome/intro' %>
  </div>

  <div class="row coding">
    <%= render partial: 'welcome/coding' %>
  </div>
  <div class="row lan-code">
    <%= render partial: 'welcome/lan_code' %>
  </div>

  <div class="row interests">
    <%= render partial: 'welcome/interest' %>
  </div>
</div>
